# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# Packaging
*.egg-info
__pycache__

# Arquivos de dados auxiliares
data/images/
data/backup/
data/*.hyper

# Scripts dep rocessamento auxiliar paralelo
scripts/tmp_parallel_run/

# Tableau
viz/