# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# Packaging
*.egg-info
__pycache__

# Arquivos de dados auxiliares
auxiliar/*
dev/data/images/
dev/data/backup/
dev/data/*.hyper

# Scripts dep rocessamento auxiliar paralelo
dev/scripts/data_generation/tmp_parallel_run/

# Tableau
viz/